Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is an open-source NoSQL (Not Only SQL) database management system. It's a non-relational, document-oriented database designed for flexibility and scalability. Unlike traditional SQL databases that use tables and rigid schemas, MongoDB stores data in flexible, JSON-like BSON documents within collections.

Non-relational databases like MongoDB are preferred in scenarios where:

Flexible Schema: When your data structure is evolving and doesn't fit neatly into a fixed schema. MongoDB allows you to add fields to documents on the fly.

Scalability: MongoDB excels at horizontal scalability, making it suitable for applications with rapidly growing data.

Big Data: When handling large volumes of data or unstructured data, MongoDB's ability to store and retrieve data quickly is beneficial.

Real-time Data: It's a good choice for real-time applications like IoT, social media, and mobile apps where data is changing rapidly.

Complex Data: Applications with complex data structures, such as geospatial data or hierarchical data, can benefit from MongoDB's rich query capabilities.

Q2. State and Explain the features of MongoDB.

MongoDB offers several key features:

Schema-less: MongoDB allows you to work with dynamic schemas, making it highly adaptable to evolving data requirements.

Document-Oriented: Data is stored in BSON documents, which can contain nested arrays and subdocuments, mirroring complex, hierarchical data structures.

Scalability: MongoDB can scale horizontally by distributing data across multiple servers, which is vital for handling growing data loads.

High Performance: It offers high-speed, low-latency access to data due to its ability to store related data together in documents.

Automatic Sharding: MongoDB automatically splits data across multiple servers for horizontal scaling.

Rich Query Language: MongoDB supports powerful queries, indexing, and aggregation for complex data retrieval.

Geospatial Indexing: It supports geospatial data and allows for location-based queries.

Replication: MongoDB offers replication with automatic failover to ensure data availability.

Built-in Aggregation: Aggregation pipelines enable data transformation and processing within the database.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo


client=pymongo.MongoClient("mongodb+srv://shivam:vishwakarma@cluster0.liktyel.mongodb.net/?retryWrites=true&w=majority")
db=client.test
db = client["mydatabase"]

collection = db["mycollection"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
data1={"mail_id" : "sudh@gmail.com" ,
       "phone_number" : 2893829282282922 }
collection.insert_one(data1)

In [4]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
collection.insert_many(data3)

In [5]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]
collection.insert_many(random_data)

In [6]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64f4a957e63b3cef23eb43e5'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('64f4a957e63b3cef23eb43e6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ea'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64f4a957e63b3cef23eb43eb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ec'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ed'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ee'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ef'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [7]:
for i in collection.find_one():
    print(i)

_id
mail_id
phone_number

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Example: Finding _id>=3 in collection created in question 4

In [8]:
for i in collection.find({'_id':{'$gte':'3'}}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in pymongo is used to sort the results of a query in MongoDB. It allows you to specify one or more fields to sort by, as well as the order in which to sort them (ascending or descending).

In [9]:
sort=collection.find().sort('name',-1)
for i in sort :
    print(i)

{'_id': ObjectId('64f4a957e63b3cef23eb43ef'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ed'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ec'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43eb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ea'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ee'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e5'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one(): This method deletes a single document that matches the specified filter criteria. It's used when you want to remove a specific document from a collection.

delete_many(): This method deletes multiple documents that match the filter criteria. It's used when you want to remove multiple documents that meet a certain condition.

drop(): The drop() method is used to delete an entire collection. It removes all documents and the collection itself. This is useful when you want to completely remove a collection from the database.

1. delete_one:

In [10]:
collection.delete_one({"name":"Amy"})

In [11]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64f4a957e63b3cef23eb43e5'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('64f4a957e63b3cef23eb43e7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ea'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64f4a957e63b3cef23eb43eb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ec'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ed'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ee'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ef'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [12]:
collection.delete_one({'companyName':'iNeuron'})

In [13]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64f4a957e63b3cef23eb43e5'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('64f4a957e63b3cef23eb43e7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ea'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64f4a957e63b3cef23eb43eb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ec'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ed'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ee'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ef'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

2. delete_many, deleting 'companyName': 'iNeuron'

In [14]:
collection.delete_many({'companyName':'iNeuron'})

In [15]:
for i in collection.find():
    print(i)

{'_id': ObjectId('64f4a957e63b3cef23eb43e5'), 'mail_id': 'sudh@gmail.com', 'phone_number': 2893829282282922}
{'_id': ObjectId('64f4a957e63b3cef23eb43e7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64f4a957e63b3cef23eb43e9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ea'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64f4a957e63b3cef23eb43eb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ec'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ed'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ee'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64f4a957e63b3cef23eb43ef'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64f4a957e63b3cef23eb43f1'), 'name': 'Viola', 'address': 'Sideway 1633'}

3. drop

In [16]:
collection.drop()